#tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  border-bottom: 2px solid rgb(217, 10, 103);
}

#tasks-container {
  box-shadow: var(--app-shadow);
  border-radius: 16px;
  height: 100%;
}
div p {
  font-weight: 600;
  font-size: larger;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--hot-red);
  color: white;
  border: none;
  font-weight: 500;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.no-task {
  text-align: center;
  margin-top: 2rem;
  color: grey;
}
