h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 span {
  font-size: small;
  color: var(--hot-red);
  display: block;
}

div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.25rem 1rem;
  border-bottom: 1px solid #e0e0e0;
}

div p {
  flex-grow: 1;
}

button {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--hot-red);
}
