button {
  padding: 0.6rem 1.1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--hot-red);
  color: white;
  border: none;
  font-weight: 500;
  width: 100%;
}

.btn-secondary {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--hot-red);
  background-color: transparent;
  font-weight: 500;
  color: black;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-element input,
.form-element textarea {
  padding: 12px 8px;
  border-radius: 4px;
  border: 1px solid rgb(176, 176, 176);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(70, 70, 70, 0.4);
  height: 100vh;
  width: 100%;
}

dialog {
  width: 50%;
  height: 60%;
  border: none;
  box-shadow: var(--app-shadow);
  border-radius: 16px;
  padding-inline: 32px;
}
